// VARIABLES FOR FONTS
$primary-font-path:         "../fonts" !default;


@mixin font-face($font-family, $primary-font-path, $font-weight, $font-style) {
    @font-face {
        font-family: $font-family;
        src: url('#{$primary-font-path}.eot');
        src: url('#{$primary-font-path}.eot?#iefix') format('embedded-opentype'),
            url('#{$primary-font-path}.woff') format('woff'),
            url('#{$primary-font-path}.ttf') format('truetype');
        //url('#{$primary-font-path}.svg##{$font-family}') format('svg');
        font-weight: $font-weight;
        font-style: $font-style;
    }
    // Chrome for Windows rendering fix: http://www.adtrak.co.uk/blog/font-face-chrome-rendering/
    //  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    //    @font-face {
    //      font-family: $font-family;
    //        src: url('#{$primary-font-path}.svg##{$font-family}') format('svg');
    //    }
    //  }
}

//mixns

@mixin hel-roman {font-family: 'helveticaneuecyrroman', arial, sans-serif;font-weight: normal; font-style: normal; }
@mixin hel-medium {font-family: 'helveticaneuecyrmedium', arial, sans-serif;font-weight: normal; font-style: normal; }
@mixin hel-light {font-family: 'helveticaneuecyrlight', arial, sans-serif;font-weight: normal; font-style: normal; }
@mixin hel-light-itlaic {font-family: 'helveticaneuecyritalic', arial, sans-serif;font-weight: normal; font-style: normal; }
@mixin hel-bold-itlaic {font-family: 'helveticaneuecyrbold_italic', arial, sans-serif;font-weight: normal; font-style: normal; }
@mixin hel-bold {font-family: 'helveticaneuecyrbold', arial, sans-serif;font-weight: normal; font-style: normal; }





